@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;500;900&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* add char button */
.add-btn {
  border: 1px black solid;
  background-color: #962020;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;

  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
}
.add-btn:active {
  background-color: rgb(156, 57, 57);
}
.material-symbols-outlined {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
}

/* form container */
#form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 70rem;
  width: 65rem;
  background-color: #f9f6f5;
  z-index: 1;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new-char-form > p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-title {
  font-family: "Urbanist", sans-serif;
  color: #f9f6f5;
  text-align: center;
  font-size: 5rem;
  padding: 1.5rem;
  background-color: #0a0808;
  border-bottom: 0.75rem solid #962020;
}

.char-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.char-name > * {
  margin: 1rem 0.5rem;
}
#name {
  width: 25rem;
}

/* bg blur */
#bg-blur {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}
