@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@200;300;400;500&family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #c0b6ab;
}

/* header */

.header-container {
  height: 10.5rem;
  width: 100%;
  background-color: #0a0808;
  display: flex;
  align-items: center;
  border-bottom: 0.5rem solid #962020;
}

.header-title {
  font-size: 5rem;
  font-weight: 300;
  font-family: "Oswald", sans-serif;
  color: #f9f6f5;
  margin: 2.5rem;
}

/* list area */
#list-container {
  display: flex;
  flex-wrap: wrap;
  filter: drop-shadow(0.5rem 1rem 1rem rgba(0, 0, 0, 0.349));
}

#info-container {
  background-color: #d3cdc3;
  margin: 3rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  min-width: 35rem;
}
#info-container p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  margin: 0.25rem;
}

#info-container #list-char-name {
  font-weight: 800;
  font-size: 3rem;
}

#list-char-description {
  max-width: 45rem;
  font-family: "Roboto" sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
}
#bottom-btns {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#list-char-active {
  width: 8.5rem;
  padding: 0.5rem 1rem;
  justify-self: center;
  border: 1px black solid;
}

#list-char-active.is-active {
  background-color: rgb(1, 161, 63);
}
#list-char-active.is-active:hover {
  background-color: rgb(10, 187, 78);
}
#list-char-active.not-active {
  color: #f9f6f5;
  background-color: rgb(161, 21, 21);
}
#list-char-active.not-active:hover {
  background-color: rgb(177, 29, 29);
}

#delete-btn {
  background-color: transparent;
  border-color: transparent;
  display: flex;
  border-radius: 0.5rem;
}

span.material-symbols-outlined:hover {
  background-color: #c2bcb3a6;
}
span.material-symbols-outlined:active {
  background-color: #cec7bda6;
}
/* form container */
#form-container {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 70rem;
  max-width: 50rem;
  background-color: #c0b6ab;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  z-index: 1;
}

.container-title {
  font-family: "Lato", sans-serif;
  color: #f9f6f5;
  text-align: center;
  font-size: 5rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: #0a0808;
  border-bottom: 0.75rem solid #962020;
}

#new-char-form > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#new-char-form .char-name .input-box {
  width: calc(75% - 2rem);
}

#new-char-form .char-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#new-char-form .char-details .input-box {
  width: calc(100% / 2 - 2rem);
}

.char-name .input-box input,
.char-details .input-box input {
  width: 100%;
  padding-left: 0.25rem;
}

.char-name .input-box label,
.char-details .input-box label {
  vertical-align: bottom;
}

.char-desc .input-box {
  display: flex;
  flex-direction: column;
}

.input-box {
  margin: 1rem 0.5rem;
}

.input-box textarea {
  resize: none;
  padding-left: 0.5rem;
}

.details {
  font-size: 2.25rem;
  margin-right: 0.25rem;
}

.save-btn button {
  border-radius: 0.5rem;
  color: #f9f6f5;
  background-color: #0a0808;
  border: transparent;
  height: 3.5rem;
  width: 8rem;
  margin: 1rem;
}

.save-btn button:hover {
  background-color: #252020;
}

.save-btn button:active {
  border: 3px #962020 solid;
}

/* bg blur */
#bg-blur {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
}

/* add char button */
.add-btn {
  background-color: #0a0808;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  color: #f9f6f5;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
  border: none;
}

.add-btn:hover {
  background-color: #252020;
}

.add-btn:active {
  border: 3px #962020 solid;
}

.add-btn.material-symbols-outlined {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
}

.delete-btn.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 64;
}
